* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  margin: 10px;
  color: rgb(27, 26, 26);
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  height: 30px;
  width: 250px;
}
button {
  height: 30px;
  width: 100px;
  margin-top: 10px;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.form {
  margin-top: 40px;
}
.cliploader {
  margin-left: 330px;
  margin-top: 40px;
}

.goal-list {
  display: flex;
}
.goal-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
